<div id="intro_projet" class="separtaion_nav container">
    <div class="row">
        <div class="custom_police_typed border custom-typed col-12 offset-md-2 col-md-8 offset-lg-2 col-lg-8">
            <div id="typed-strings" >
                <p> Sur la page  <strong> "Mes projets" </strong> sont rassemblés tous les projets réaliser lors de ma formation. </p>
            </div>
            <span class="custom-typed text-center policeWhite" id="typed"></span>
        </div>
    </div>
</div>

<div id="taille_photo" class="intro_projet container">
    <hr> 
    <div class="row justify-content-around">

        <div class="padding_projet col-12 col-md-5 col-lg-5">
            <img class="card-img-top taille_photo" src="assets/images/explorateur_fichier.png" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title"> Explorateur de fichier.</h4>
                <p class="card-text"> Un explorateur de fichier linux développé en 3 jours.</p>
                <a href="http://192.168.1.67/demo/Thomas_Valente/Explorateur%20Fichier/" class="btn btn-primary"> Y accéder </a>
            </div>
        </div>

    </div>

    <div class="row justify-content-around">
        
        <div class="padding_projet col-12 col-md-5 col-lg-5">
            <img class="card-img-top taille_photo" src="assets/images/domotique.PNG" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title"> Domotique sur un serveur. </h4>
                <p class="card-text"> Récupération des données d'un serveur. Développé en 1 jour. </p>
                <a href="http://192.168.1.67/demo/Thomas_Valente/domotique_serveur/" class="btn btn-primary"> Y accéder </a>
            </div>      
        </div>

        <div class="padding_projet col-12 col-md-5 col-lg-5">
            <img class="card-img-top taille_photo" src="assets/images/japon.PNG" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title"> Agence de voyage. </h4>
                <p class="card-text"> Site pour une agence de voyage France-Japon. Développé en 3 jours.</p>
                <a href="http://192.168.1.67/demo/Thomas_Valente/Site_Agence_Japon/public_html/" class="btn btn-primary"> Y accéder </a>
            </div>
        </div>

    </div>

    <div class="row justify-content-around">

        <div class="padding_projet col-12 col-md-5 col-lg-5">
            <img class="card-img-top taille_photo" src="assets/images/space_invaders.PNG" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">  Space Invaders. </h4>
                <p class="card-text"> Premier projet avec JavaScript, développé en 2 jours. </p>
                <a href="http://192.168.1.67/demo/Thomas_Valente/Prometheus(Space_Invaders)/prometheus/WebContent/" class="btn btn-primary"> Y accéder </a>
            </div>
        </div>


        <div class="padding_projet col-12 col-md-5 col-lg-5">
            <img class="card-img-top taille_photo" src="assets/images/langerba.PNG" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title"> Langerba. </h4>
                <p class="card-text"> Reproduction d'un site déja existant. Développé en 2 jours.</p>
                <a href="http://192.168.1.67/demo/Thomas_Valente/ThoAlex_langerba/" class="btn btn-primary"> Y accéder </a>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">

        <div class="padding_projet col-12 col-md-5 col-lg-5">
            <img class="card-img-top taille_photo" src="assets/images/maquette_thochri.PNG" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title"> Reproduction d'un site déja existant.  </h4>
                <p class="card-text"> Reproduction de la page d'accueil d'un site au pixel près.</p>
                <a href="http://192.168.1.67/demo/Thomas_Valente/maquetteChrisThomas/" class="btn btn-primary"> Y accéder </a>
            </div>
        </div>

        <div class="padding_projet col-12 col-md-5 col-lg-5">
            <img class="card-img-top taille_photo" src="assets/images/access_code.PNG" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title"> Reproduction d'un logo. </h4>
                <p class="card-text"> Reproduction du logo du site "Access Code School".</p>
                <a href="http://192.168.1.67/demo/Thomas_Valente/Logo_access_school/logo.html" class="btn btn-primary"> Y accéder </a>
            </div>
        </div>
    </div>
    <hr>
</div>
