  
    <router-outlet></router-outlet>
    
    <nav class="opacity_bar navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="policeWhite navbar-brand" href="/accueil" style="color:white" >Mon site CV</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="policeWhite nav-link" routerLink="/cv" style="color:white"> Mon CV <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="policeWhite nav-link" routerLink="/projets" style="color:white"> Mes projets</a>
                </li>
                <li class="nav-item">
                    <a class="policeWhite nav-link" routerLink="/bac_a_sable" style="color:white"> Bac à sable</a>
                </li>
            </ul>
            <div>
                <a href="https://www.facebook.com/KaamelottOff/" target="_blank" >
                    <img src="assets/images/logo_facebook.png" width="40" height="40" >
                </a>

                <a href="https://www.linkedin.com/in/thomas-valente-b881a9148/" target="_blank" >
                    <img src="assets/images/logo_linkedin.jpg" width="40" height="40" >
                </a>

                <a href="https://twitter.com/sgtpembry?lang=fr" target="_blank" >
                    <img src="assets/images/logo_twitter.png" width="40" height="40" >
                </a>               
            </div>
        </div>
    </nav>


<!--<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>-->