
<div class="separtaion_nav container">
            <div class="row">
                <div class="custom_police_typed border custom-typed col-12 offset-md-2 col-md-8 offset-lg-2 col-lg-8">
                    <div id="typed-strings" >
                        <p class="text-center"> Voici mon <strong> Site CV.</strong></p>
                        <p class="text-center"> Il récapitule mon expérience en tant que <strong> Web développeur. </strong></p>    
                        <p class="text-center" > <strong> Bonne navigation. </strong> </p>
                    </div>
                    <span class="custom-typed text-center policeWhite" id="typed"></span>
                </div>
            </div>
        </div>

        <div class="animated bounceInLeft container">
            <hr>
            <h2 class="text-center margin_qualitées"> Qualitées </h2>

            <div class="row text-center">


                <span class="col-4 margin_qualitées"> Autonomie 
                    <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i> 
                    </span>
                </span>

                <span class="col-4 margin_qualitées"> Persévérance  
                    <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i>
                    </span>
                </span>

                
                    <span class="col-4 margin_qualitées" > Ponctualité  
                        <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i>
                    </span>
                </span>
            </div>

            <div class="row text-center">


                <span class="col-4 margin_qualitées"> Dynamique 
                    <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i>
                    </span> 
                </span>


                <span class="col-4 margin_qualitées"> Motivation  
                    <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i>
                    </span>
                </span>


                <span class="col-4 margin_qualitées"> Autodidacte 
                    <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i>
                    </span>
                </span> 
            </div>
            <hr>
        </div>




        <div class="animated bounceInRight container">

            <h2 class="text-center margin_qualitées"> Intérêts </h2>

            <div class="row text-center">


                <span class="col-4 margin_qualitées"> Informatique 
                    <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i> 
                    </span>
                </span>

                <span class="col-4 margin_qualitées"> Développement 
                    <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i>
                    </span>
                </span>


                <span class="col-4 margin_qualitées" > Jeux Vidéo 
                    <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i>
                    </span>
                </span>
            </div>

            <div class="row text-center">


                <span class="col-4 margin_qualitées"> Musique 
                    <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i>
                    </span>
                </span> 


                <span class="col-4 margin_qualitées text-center"> Cinéma
                    <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i>
                    </span>
                </span>


                <span class="col-4 margin_qualitées"> Culture Web
                    <span class="hvr-grow">
                        <i class="margin_comp fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star etoile_none" aria-hidden="true"></i>
                    </span>
                </span> 
            </div>
            <hr>
        </div>